// Styles for react notification bar
@import '~react-toastify/dist/ReactToastify.min.css';

.loading {
  display: flex;
  justify-content: center;
}

.success-notification {
  background: #26A65B;
  color: #fff;
}